<div *ngIf="pokemons" class="cards">
  <div
    class="property-card"
    *ngFor="let pokemon of pokemons"
    (click)="getDescription(pokemon)"
  >
    <div class="property-image">
      <img [src]="pokemon.sprites.front_default" />
      <img [src]="pokemon.sprites.front_shiny" />
    </div>

    <div class="property-description">
      <h5>{{ pokemon.name }}</h5>
    </div>
  </div>
</div>
<!-- <p>
  Contrary to popular belief, Lorem Ipsum is not simply random text. It
  has roots in a piece of classical Latin literature from 45 BC, making it
  over 2000 years old. Richard McClintock, a Latin professor at
  Hampden-Sydney College in Virginia, looked up one of the more obscure
</p> -->
<!-- <img [src]="pokemon.sprites.back_default" />
        <img [src]="pokemon.sprites.front_shiny" />
        <img [src]="pokemon.sprites.back_shiny" />
        <img [src]="pokemon.sprites.front_female" />
        <img [src]="pokemon.sprites.back_female" />
        <img [src]="pokemon.sprites.front_shiny_female" />
        <img [src]="pokemon.sprites.back_shiny_female" /> -->
