<section
  id="poke_container"
  class="poke-container"
  [class]="color[pokemon.color]"
>
  <div
    class="pokemon"
    [ngStyle]="setPokemonCardColor(pokemon.type_1, pokemon.type_2)"
  >
    <a [routerLink]="[pokemon.id]">
      <header class="img-container">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
      </header>
      <div class="info">
        <span class="number">#{{ pokemon.id }}</span>
        <h3 class="name">{{ pokemon.name }}</h3>
        <div class="wrapper">
          <div class="icon" [ngStyle]="setPokemonTypeColor(pokemon.type_1)">
            <img
              src="../../../../../assets/icons/{{ pokemon.type_1 }}.svg"
              [title]="pokemon.type_1"
              [alt]="pokemon.type_1"
            />
          </div>
          <div
            class="icon"
            *ngIf="pokemon.type_2"
            [ngStyle]="setPokemonTypeColor(pokemon.type_2)"
          >
            <img
              src="../../../../../assets/icons/{{ pokemon.type_2 }}.svg"
              [title]="pokemon.type_2"
              [alt]="pokemon.type_2"
            />
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
