.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 9rem;
  height: 12rem;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 5px;
  .pokemon-number {
    float: left;
    padding: 0.5rem;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 85%;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
.container {
  padding: 0.5rem 0rem;
  vertical-align: bottom;
}
