// .card {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   transition: 1s;
//   width: 9rem;
//   height: 12rem;
//   margin-top: 0.5rem;
//   text-align: center;
//   border-radius: 5px;
//   .pokemon-number span {
//     float: left;
//     padding: 0.5rem;
//     color: gray;
//   }
//   a {
//     text-decoration: none;
//     display: flex;
//     flex-direction: column;
//     color: black;
//   }
//   img {
//     height: 100px;
//   }
//   &:hover {
//     background-color: lighten(rgba(238, 228, 228, 0.329), 50%);
//     box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);

//     transform: scale(1.1);
//   }
// }
// .container {
//   padding: 0.5rem 0rem;
//   vertical-align: bottom;
// }
@import "../../../../../assets/helpers/colors";
// .pokemon {
//   border-radius: 20px;
//   box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
//   margin: 10px;
//   padding: 20px;
//   text-align: center;
//   a {
//     text-decoration: none;
//     display: flex;
//     flex-direction: column;
//     color: black;
//   }
//   &:hover {
//     background-color: lighten(rgba(238, 228, 228, 0.329), 50%);
//     box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);

//     transform: scale(1.1);
//   }
//   .img-container {
//     background-color: rgba(255, 255, 255, 0.6);
//     border-radius: 50%;
//     width: 120px;
//     height: 120px;
//     text-align: center;
//     img {
//       margin-top: 20px;
//       max-width: 90%;
//     }
//     .info {
//       margin-top: 20px;
//     }
//     .number {
//       background-color: rgba(0, 0, 0, 0.1);
//       border-radius: 10px;
//       font-size: 0.8em;
//       padding: 5px 10px;
//     }
//     .name {
//       margin: 15px 0 7px;
//       letter-spacing: 1px;
//     }
//   }
// }

h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  //background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: black;
  }
  &:hover {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}
