.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  &__nav {
    padding: 12px;
    text-align: center;
    span {
      cursor: pointer;
      outline: none;
    }
  }
}
