$modal-background-color: rgb(0, 0, 0);
$modal-content-color: rgb(245 248 250);
$success: #11c76f;
$error: red;
$warning: #f8b330;
$info: #00b0ed;

$green: lighten(rgb(68, 117, 68), 50%);
$red: lighten(red, 20%);
$blue: lighten(blue, 30%);
$white: darken(white, 30%);
$brown: lighten(#836947, 10%);
$yellow: lighten(yellow, 20%);
$purple: lighten(purple, 30%);
$pink: lighten(pink, 30%);
$gray: lighten(gray, 30%);
$black: lighten(black, 30%);

@mixin color($color) {
  background-color: $color;
}

.green {
  @include color($green);
}
.red {
  @include color($red);
}
.blue {
  @include color($blue);
}
.white {
  @include color($white);
}
.brown {
  @include color($brown);
}
.yellow {
  @include color($yellow);
}
.purple {
  @include color($purple);
}
.pink {
  @include color($pink);
}
.gray {
  @include color($gray);
}
.black {
  @include color($black);
}
