$modal-background-color: rgb(0, 0, 0);
$modal-content-color: rgb(245 248 250);
$success: hsl(151, 84%, 42%);
$error: hsl(0, 100%, 50%);
$warning: hsl(39, 93%, 58%);
$info: hsl(195, 100%, 46%);

$green: lighten(hsl(120, 26%, 36%), 45%);
$red: lighten(hsl(0, 88%, 45%), 40%);
$blue: lighten(hsl(240, 100%, 50%), 45%);
$white: darken(hsl(0, 0%, 100%), 20%);
$brown: lighten(hsl(34, 30%, 40%), 40%);
$yellow: lighten(hsl(60, 82%, 59%), 20%);
$purple: lighten(hsl(300, 21%, 22%), 60%);
$pink: hsl(324, 59%, 83%);
$gray: lighten(hsl(0, 1%, 40%), 30%);
$black: hsla(0, 1%, 25%, 0.205);

$bg-default: hsl(60, 62%, 84%);

@mixin color($color) {
  background-color: $color;
}

.green {
  @include color($green);
}
.red {
  @include color($red);
}
.blue {
  @include color($blue);
}
.white {
  @include color($white);
}
.brown {
  @include color($brown);
}
.yellow {
  @include color($yellow);
}
.purple {
  @include color($purple);
}
.pink {
  @include color($pink);
}
.gray {
  @include color($gray);
}
.black {
  @include color($black);
}
