.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 93%;
  overflow: auto;
  max-width: 100%;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6) 1px,
      transparent 1px,
      transparent 30px,
      rgba(255, 255, 255, 0.3) 30px,
      rgba(255, 255, 255, 0.3) 31px,
      transparent 31px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6) 1px,
      transparent 1px,
      transparent 30px,
      rgba(255, 255, 255, 0.3) 30px,
      rgba(255, 255, 255, 0.3) 31px,
      transparent 31px,
      transparent 60px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3) 1px,
      transparent 1px,
      transparent 30px
    );
  background-size: 70px 120px;

  &__content {
    display: flex;
    align-items: center;
    width: 85%;
    height: 90%;
  }

  &__header {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: 0.25ch;
  }
  &__chart {
    width: 50%;
  }
  &__image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
  }
  &__info {
    display: inline-block;
    margin: 1rem 1rem 14px 0px;
  }
  &__description {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
    padding: 1rem 2rem;
  }
  &__ability {
    text-transform: capitalize;
    &::after {
      content: " | ";
    }
    &:last-child::after {
      content: "";
    }
  }

  @media only screen and (max-width: 600px) {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      height: 95%;
      overflow: scroll;
    }

    &__header {
      padding-bottom: 0.5em;
      text-align: center;
    }

    &__description {
      width: 80%;
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 1em;
    }

    &__chart {
      width: 90%;
      margin: 30px 0;
    }

    &__image {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0.5em;
    }
  }
}
