<section
  [class]="pokemon.color"
  *ngIf="pokemon$ | async as pokemon"
  class="detail-content"
>
  <header>
    <h5 class="title">{{ pokemon.name }}</h5>
  </header>
  <div class="image">
    <img [src]="pokemon.image" title="Default version." />
  </div>
  <div class="detail-description">
    <h6 class="title">Abilities</h6>
    <ul>
      <li *ngFor="let abilitie of pokemon.abilities">
        {{ abilitie.ability.name }}
      </li>
    </ul>
    <p>Experience: {{ pokemon.base_experience }}</p>
    <p>Weight: {{ pokemon.weight }}</p>
  </div>
</section>
